<div class="col-12 p-0" style="position: relative;">
    <ngx-spinner bdColor="rgba(0,0,0,0.8)" color="#fff" type="timer" size="large" [fullScreen]="false">
        <p style="color: white;margin-top: 30px;">Loading Datas...</p>
        <!--if fullscreen false  Your parent container(div) should have position: relative;  -->
    </ngx-spinner>

    <div class="col-12 p-0">
        <div class="col-12">
            <div class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-3 gap-3">
                <div class="flex align-items-center">
                    <img src="assets/demo/images/avatar/profile.jpg" width="64" alt="profile"
                        class="border-circle border-2 border-primary flex-shrink-0" />
                    <div class="ml-3">
                        
                        <span class="text-4xl font-light">{{title}}{{fname}} {{lname}}</span>
                        <div class="text-color-secondary">
                            <span class="text-black-alpha-90 font-bold mr-2">อายุ :</span>
                            <span class="text-black-alpha-60 font-semibold mr-4">{{age | thaiage}} </span>
                            <span class="text-black-alpha-90 font-bold mr-2">เพศ :</span>
                            <span class="text-black-alpha-60 font-semibold mr-4">{{gender}} </span>
                            <span class="text-black-alpha-90 font-bold mr-2">AN :</span>
                            <span class="text-black-alpha-60 font-semibold mr-4">{{an}} </span>
                            <span class="text-black-alpha-90 font-bold mr-2">HN :</span>
                            <span class="text-black-alpha-60 font-semibold">{{hn}} </span>
                            
                        </div>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-between gap-3 tw-mr-10">
                        <p-speedDial [model]="items" direction="down" buttonClassName="p-button-success" className="speeddial-left"></p-speedDial>
                    <!-- <button pButton pRipple icon="pi pi-arrow-left" type="button" label="ย้อนกลับ"
                        class="p-button-outlined" (click)="back()" ></button> -->
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="surface-section px-4">
            <div class="font-bold text-2xl text-900 mb-3">ประวัติการเจ็บป่วย</div>
                <div class="grid nogutter">
                    <div class="col-12 p-2">
                        <div class="border-top-3 border-blue-600 mb-4"></div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">อาการสำคัญ (CC) : {{chief_complaint}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">อาการเจ็บป่วยปัจจุบัน : {{present_illness}}</div>
                        <div class="text-900 font-medium text-xl line-height-3 mb-3 lg:mb-1">อาการเจ็บป่วยในอดีต : {{past_history}}</div>
                    </div>
                </div>
        </div>
    </div>

    <div class="card">
        <h5>Past History</h5>


        <div class="formgroup-inline flex tw-items-center mb-2">
            <div class="font-bold tw-w-40">อาการสำคัญ (CC) : {{chief_complaint}}</div>
            <div class="flex pl-5">
                <div class="flex flex-wrap gap-3 items-center">
                    <div class="flex">
                        <p-radioButton name="pizza" value="0" [(ngModel)]="is_chronic"
                            inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2">ไม่มี</label>
                    </div>

                    <div class="flex pl-8 items-center">
                        <p-radioButton name="pizza" value="1" [(ngModel)]="is_chronic"
                            inputId="ingredient2"></p-radioButton>
                        <label for="ingredient2" class="ml-2">มี</label>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="">
            <div class="font-bold tw-w-40">ระบุ : {{chief_complaint}}</div>

                    <button pButton pRipple type="button" label="ระบุ"
                        class="p-button-secondary p-button-text tw-w-40"></button>
                </div>
                <div class="flex  pl-2 tw-w-96 ">
                    <input pInputText id="firstname1" type="text" placeholder="" class="w-full ui-fluid" />
                </div>
            </div>
        </div>
        <div class="formgroup-inline flex tw-items-center mb-2">
            <button pButton pRipple type="button" label="การแพ้ยา"
                class="p-button-secondary p-button-text tw-w-40"></button>
            <div class="flex items-center pl-5">
                <div class="flex flex-wrap gap-3 items-center">
                    <div class="flex align-items-center">
                        <p-radioButton name="pizza" value="0" [(ngModel)]="allergy_describe"
                            inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2">ไม่มี</label>
                    </div>

                    <div class="flex align-items-center pl-8">
                        <p-radioButton name="pizza" value="1" [(ngModel)]="allergy_describe"
                            inputId="ingredient2"></p-radioButton>
                        <label for="ingredient2" class="ml-2">มี</label>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="">
                    <button pButton pRipple type="button" label="ระบุ"
                        class="p-button-secondary p-button-text tw-w-40"></button>
                </div>
                <div class="flex  pl-2 tw-w-96 ">
                    <input pInputText id="firstname1" type="text" placeholder="" class="w-full ui-fluid" />
                </div>
            </div>
        </div>
        <div class="formgroup-inline flex tw-items-center mb-2">
            <button pButton pRipple type="button" label="การผ่าตัด"
                class="p-button-secondary p-button-text tw-w-40"></button>
            <div class="flex items-center pl-5">
                <div class="flex flex-wrap gap-3 items-center">
                    <div class="flex align-items-center">
                        <p-radioButton name="pizza" value="0" [(ngModel)]="operation_describe"
                            inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2">ไม่มี</label>
                    </div>

                    <div class="flex align-items-center pl-8">
                        <p-radioButton name="pizza" value="1" [(ngModel)]="operation_describe"
                            inputId="ingredient2"></p-radioButton>
                        <label for="ingredient2" class="ml-2">มี</label>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="">
                    <button pButton pRipple type="button" label="ระบุ"
                        class="p-button-secondary p-button-text tw-w-40"></button>
                </div>
                <div class="flex  pl-2 tw-w-96 ">
                    <input pInputText id="firstname1" type="text" placeholder="" class="w-full ui-fluid" />
                </div>
            </div>
        </div>
        <div class="formgroup-inline flex tw-items-center mb-2">
            <button pButton pRipple type="button" label="การสูบบุหรี่"
                class="p-button-secondary p-button-text tw-w-40"></button>
            <div class="flex items-center pl-5">
                <div class="flex flex-wrap gap-3 items-center">
                    <div class="flex align-items-center">
                        <p-radioButton name="pizza" value="0" [(ngModel)]="is_smoke"
                            inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2">ไม่มี</label>
                    </div>

                    <div class="flex align-items-center pl-8">
                        <p-radioButton name="pizza" value="1" [(ngModel)]="is_smoke"
                            inputId="ingredient2"></p-radioButton>
                        <label for="ingredient2" class="ml-2">มี</label>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="">
                    <button pButton pRipple type="button" label="ระบุ"
                        class="p-button-secondary p-button-text"></button>
                </div>
                <div class="">
                    <button pButton pRipple type="button" label="ระยะเวลา"
                        class="p-button-secondary p-button-text"></button>
                </div>
                <div class="flex   tw-w-28 ">
                    <input pInputText id="firstname1" type="text" [(ngModel)]="smoke_describe_duration"
                        placeholder="ปี" class="w-full ui-fluid" />
                </div>
                <div class="">
                    <button pButton pRipple type="button" label="จำนวน"
                        class="p-button-secondary p-button-text"></button>
                </div>
                <div class="flex   tw-w-28 ">
                    <input pInputText id="firstname1" type="text" [(ngModel)]="smoke_describe_qty"
                        placeholder="มวน" class="w-full ui-fluid" />
                </div>
                <div class="">
                    <button pButton pRipple type="button" label="ความถี่"
                        class="p-button-secondary p-button-text"></button>
                </div>
                <div class="flex   tw-w-28 ">
                    <input pInputText id="firstname1" type="text" [(ngModel)]="smoke_describe_frequency"
                        placeholder="ต่อวัน" class="w-full ui-fluid" />
                </div>
            </div>
        </div>
        <div class="formgroup-inline flex tw-items-center mb-2">
            <button pButton pRipple type="button" label="การดื่มสุรา"
                class="p-button-secondary p-button-text tw-w-40"></button>
            <div class="flex items-center pl-5">
                <div class="flex flex-wrap gap-3 items-center">
                    <div class="flex align-items-center">
                        <p-radioButton name="pizza" value="0" [(ngModel)]="is_drink_alchohol"
                            inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2">ไม่มี</label>
                    </div>

                    <div class="flex align-items-center pl-8">
                        <p-radioButton name="pizza" value="1" [(ngModel)]="is_drink_alchohol"
                            inputId="ingredient2"></p-radioButton>
                        <label for="ingredient2" class="ml-2">มี</label>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="">
                    <button pButton pRipple type="button" label="ระบุ"
                        class="p-button-secondary p-button-text"></button>
                </div>
                <div class="">
                    <button pButton pRipple type="button" label="ระยะเวลา"
                        class="p-button-secondary p-button-text"></button>
                </div>
                <div class="flex   tw-w-28 ">
                    <input pInputText id="firstname1" type="text"
                        [(ngModel)]="drink_alchohol_describe_duration" placeholder="ปี"
                        class="w-full ui-fluid" />
                </div>
                <div class="">
                    <button pButton pRipple type="button" label="จำนวน"
                        class="p-button-secondary p-button-text"></button>
                </div>
                <div class="flex   tw-w-28 ">
                    <input pInputText id="firstname1" type="text" [(ngModel)]="drink_alchohol_describe_qty"
                        placeholder="ขวด" class="w-full ui-fluid" />
                </div>
                <div class="">
                    <button pButton pRipple type="button" label="ความถี่"
                        class="p-button-secondary p-button-text"></button>
                </div>
                <div class="flex   tw-w-28 ">
                    <input pInputText id="firstname1" type="text"
                        [(ngModel)]="drink_alchohol_describe_frequency" placeholder="ต่อวัน"
                        class="w-full ui-fluid" />
                </div>
            </div>
        </div>

        <div class="formgroup-inline flex tw-items-center mb-2">
            <button pButton pRipple type="button" label="การคุมกำเนิด"
                class="p-button-secondary p-button-text tw-w-40"></button>
            <div class="flex items-center pl-5">
                <div class="flex flex-wrap gap-3 items-center">
                    <div class="flex align-items-center">
                        <p-radioButton name="pizza" value="0" [(ngModel)]="is_drink_alchohol"
                            inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2">ไม่มี</label>
                    </div>

                    <div class="flex align-items-center pl-8">
                        <p-radioButton name="pizza" value="1" [(ngModel)]="is_drink_alchohol"
                            inputId="ingredient2"></p-radioButton>
                        <label for="ingredient2" class="ml-2">มี</label>
                    </div>

                    <div class="flex align-items-center pl-6">

                        <label for="ingredient2" class="ml-2">มี LMP</label>
                    </div>

                    <div class="flex align-items-center pl-6">
                        <p-calendar [(ngModel)]="last_menstrual_period" dateFormat="yy-mm-dd"
                            (ngModelChange)="onChange($event)"></p-calendar>
                    </div>
                    <div class="flex items-center">

                        <div class="flex  pl-2 tw-w-20 ">
                            <input pInputText id="gravida" type="text" [(ngModel)]="gravida" placeholder="G"
                                class="w-full ui-fluid" />
                        </div>
                        <div class="flex  pl-2 tw-w-20 ">
                            <input pInputText id="para" type="text" [(ngModel)]="para" placeholder="P"
                                class="w-full ui-fluid" />
                        </div>
                        <div class="flex  pl-2 tw-w-20 ">
                            <input pInputText id="abortion" type="text" [(ngModel)]="abortion"
                                placeholder="A" class="w-full ui-fluid" />
                        </div>
                        <div class="flex  pl-2 tw-w-20 ">
                            <input pInputText id="live_birth" type="text" [(ngModel)]="live_birth"
                                placeholder="L" class="w-full ui-fluid" />
                        </div>
                        <div class="flex  pl-2 tw-w-20 ">
                            <input pInputText id="gestational_age" type="text" [(ngModel)]="gestational_age"
                                placeholder="GA" class="w-full ui-fluid" />
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="formgroup-inline flex tw-items-center mb-2">
            <button pButton pRipple type="button" label="โรคประจำตัวหรือโรคทางพันธุกรรม"
                class="p-button-secondary p-button-text tw-w-40"></button>
            <div class="flex items-center pl-5">
                <div class="flex flex-wrap gap-3 items-center">
                    <div class="flex align-items-center">
                        <p-radioButton name="pizza" value="0" [(ngModel)]="is_family_disease"
                            inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2">ไม่มี</label>
                    </div>

                    <div class="flex align-items-center pl-8">
                        <p-radioButton name="pizza" value="1" [(ngModel)]="is_family_disease"
                            inputId="ingredient2"></p-radioButton>
                        <label for="ingredient2" class="ml-2">มี</label>
                    </div>
                </div>
            </div>
            <div class="flex items-center">
                <div class="">
                    <button pButton pRipple type="button" label="ระบุ"
                        class="p-button-secondary p-button-text tw-w-40"></button>
                </div>
                <div class="flex  pl-2 tw-w-96 ">
                    <input pInputText id="firstname1" type="text" [(ngModel)]="is_family_disease"
                        placeholder="" class="w-full ui-fluid" />
                </div>
            </div>
        </div>
        <div class="formgroup-inline flex tw-items-center mb-2">
            <button pButton pRipple type="button" label="วัคซีน"
                class="p-button-secondary p-button-text tw-w-40"></button>
            <div class="flex items-center pl-5">
                <div class="flex flex-wrap gap-3 items-center">
                    <div class="flex align-items-center">
                        <p-radioButton name="pizza" value="1" [(ngModel)]="is_child_vaccine_complete"
                            inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2">ครบตามเกณฑ์</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="pizza" value="0" [(ngModel)]="is_child_vaccine_complete"
                            inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2">ไม่ครบตามเกณฑ์</label>
                    </div>

                </div>
            </div>

        </div>
        <div class="formgroup-inline flex tw-items-center mb-2">
            <button pButton pRipple type="button" label="พัฒนาการ"
                class="p-button-secondary p-button-text tw-w-40"></button>
            <div class="flex items-center pl-5">
                <div class="flex flex-wrap gap-3 items-center">
                    <div class="flex align-items-center">
                        <p-radioButton name="pizza" value="1" [(ngModel)]="is_child_development_normal"
                            inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2">เหมาะสมตามวัย</label>
                    </div>
                    <div class="flex align-items-center">
                        <p-radioButton name="pizza" value="0" [(ngModel)]="is_child_development_normal"
                            inputId="ingredient1"></p-radioButton>
                        <label for="ingredient1" class="ml-2">ไม่เหมาะสมตามวัย</label>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="card">
        <div class="surface-section px-4">
            <div class="flex flex-row w-full">
                <div class="bg-white tw-w-1/3">
                  
                </div>
                <div class="bg-white tw-w-1/3">
               
                    
                </div>
                
                <div class="bg-white tw-w-1/3">

                    
                </div>
              </div>
        </div>
    </div>
</div>

<!-- fon -->
<div>
    <div class="grid ">
        <div class="col-12 p-0" style="position: relative;">


            <div class="w-full">
                <p-messages></p-messages>
            </div>
            <div class="flex flex-column">


                

                <div class="flex flex-row w-full">
                    <div class="bg-white tw-w-1/3">
                     
                        
                    </div>
                    <div class="bg-white tw-w-1/3">
                   
                        
                    </div>
                    
                    <div class="bg-white tw-w-1/3">

                        
                    </div>
                  </div>
                <div>

                    <div>

                        <p-splitter [panelSizes]="[50, 50, 50]" [style]="{ height: '600px' }" styleClass="mb-5 tw-p-5">

                            <ng-template pTemplate>
                                <div class="flex tw-flex-col">
                                    <div>
                                        <div class="flex text-sm font-bold">
                                            V/S ส่วนสูง: {{ body_height }} ซม. น้ำหนัก: {{ body_weight }} กก. BMI:
                                            {{ body_weight }} อุณหภูมิร่างกาย: {{ body_temperature }} C ความดันโลหิต:
                                            {{ systolic_blood_pressure }}/{{ diatolic_blood_pressure }} mmHg.
                                        </div>
                                    </div>
                                    <div>
                                        <b>Review of System</b>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="field-checkbox">
                                                <label for="ny" class="col-12">
                                                    <h6>HEENT</h6>
                                                </label>
                                                <p-checkbox name="group1" value="0" [(ngModel)]="heent" id="heent"
                                                    class="col-1"></p-checkbox>
                                                <label for="ny" class="col-12">ปกติ</label>

                                            </div>
                                            <div class="field-checkbox">
                                                <label for="ny" class="col-12">
                                                    <h6>Heart</h6>
                                                </label>
                                                <p-checkbox name="group1" value="0" [(ngModel)]="heart" id="ny"
                                                    class="col-1"></p-checkbox>
                                                <label for="ny" class="col-2">ปกติ</label>


                                            </div>

                                            <div class="field-checkbox">
                                                <label for="ny" class="col-12">
                                                    <h6>Lung</h6>
                                                </label>
                                                <p-checkbox name="group1" value="0" [(ngModel)]="lung" id="ny"
                                                    class="col-1"></p-checkbox>
                                                <label for="ny" class="col-2">ปกติ</label>


                                            </div>
                                            <div class="field-checkbox">
                                                <label for="ny" class="col-12">
                                                    <h6>Abdomen</h6>
                                                </label>
                                                <p-checkbox name="group1" value="0" [(ngModel)]="abdomen" id="ny"
                                                    class="col-1"></p-checkbox>
                                                <label for="ny" class="col-2">ปกติ</label>


                                            </div>
                                            <div class="field-checkbox">
                                                <label for="ny" class="col-12">
                                                    <h6>Back and CVA</h6>
                                                </label>
                                                <p-checkbox name="group1" value="0" [(ngModel)]="back_and_cva" id="ny"
                                                    class="col-1"></p-checkbox>
                                                <label for="ny" class="col-2">ปกติ</label>


                                            </div>
                                            <div class="field-checkbox">
                                                <label for="ny" class="col-12">
                                                    <h6>Extremities & Skin</h6>
                                                </label>
                                                <p-checkbox name="group1" value="0" [(ngModel)]="extremities_and_skin"
                                                    id="ny" class="col-1"></p-checkbox>
                                                <label for="ny" class="col-2">ปกติ</label>


                                            </div>
                                            <div class="field-checkbox">
                                                <label for="ny" class="col-12">
                                                    <h6>Neuro Signs</h6>
                                                </label>
                                                <p-checkbox name="group1" value="0" [(ngModel)]="neuro_signs" id="ny"
                                                    class="col-1"></p-checkbox>
                                                <label for="ny" class="col-2">ปกติ</label>


                                            </div>

                                        </div>
                                    </div>
                                </div>





                            </ng-template>


                            <ng-template pTemplate>
                                <div class="flex tw-flex-col">
                                    <div>
                                        <b> &nbsp;</b>
                                    </div>
                                    <div>
                                        <b> ผลตรวจร่างกายอื่นๆ </b>
                                    </div>
                                    <div>
                                        <div class="field-checkbox">
                                            <label for="ny" class="col-12">
                                                <h6>HEENT</h6>
                                            </label>
                                            <p-checkbox name="group1" value="0" [(ngModel)]="pheent" id="pheent"
                                                class="col-1"></p-checkbox>
                                            <label for="ny" class="col-2">ปกติ</label>

                                        </div>
                                        <div class="field-checkbox">
                                            <label for="ny" class="col-12">
                                                <h6>Heart</h6>
                                            </label>
                                            <p-checkbox name="group1" value="0" [(ngModel)]="pheart" id="pheart"
                                                class="col-1"></p-checkbox>
                                            <label for="ny" class="col-2">ปกติ</label>


                                        </div>

                                        <div class="field-checkbox">
                                            <label for="ny" class="col-12">
                                                <h6>Lung</h6>
                                            </label>
                                            <p-checkbox name="group1" value="0" [(ngModel)]="plung" id="ny"
                                                class="col-1"></p-checkbox>
                                            <label for="ny" class="col-2">ปกติ</label>


                                        </div>
                                        <div class="field-checkbox">
                                            <label for="ny" class="col-12">
                                                <h6>Abdomen</h6>
                                            </label>
                                            <p-checkbox name="group1" value="0" [(ngModel)]="pabdomen" id="ny"
                                                class="col-1"></p-checkbox>
                                            <label for="ny" class="col-2">ปกติ</label>


                                        </div>
                                        <div class="field-checkbox">
                                            <label for="ny" class="col-12">
                                                <h6>Back and CVA</h6>
                                            </label>
                                            <p-checkbox name="group1" value="0" [(ngModel)]="pback_and_cva" id="ny"
                                                class="col-1"></p-checkbox>
                                            <label for="ny" class="col-2">ปกติ</label>


                                        </div>
                                        <div class="field-checkbox">
                                            <label for="ny" class="col-12">
                                                <h6>Extremities & Skin</h6>
                                            </label>
                                            <p-checkbox name="group1" value="0" [(ngModel)]="pextremities_and_skin"
                                                id="ny" class="col-1"></p-checkbox>
                                            <label for="ny" class="col-2">ปกติ</label>


                                        </div>
                                        <div class="field-checkbox">
                                            <label for="ny" class="col-12">
                                                <h6>Neuro Signs</h6>
                                            </label>
                                            <p-checkbox name="group1" value="0" [(ngModel)]="pneuro_signs" id="ny"
                                                class="col-1"></p-checkbox>
                                            <label for="ny" class="col-2">ปกติ</label>


                                        </div>
                                        <div class="field-checkbox">
                                            <label for="ny" class="col-12">
                                                <h6>General Appearance</h6>
                                            </label>
                                            <p-checkbox name="group1" value="0" [(ngModel)]="general_appearance" id="ny"
                                                class="col-1"></p-checkbox>
                                            <label for="ny" class="col-2">ปกติ</label>


                                        </div>
                                    </div>


                                </div>


                                <div>


                                </div>
                            </ng-template>


                            <ng-template pTemplate class="col-12">
                                <div class="flex tw-flex-col">
                                    <div> <b> &nbsp;</b></div>
                                    <div> <b>ผลตรวจร่างกายอื่นๆ</b></div>

                                    <div>

                                        <textarea rows="20" cols="50" placeholder="อื่นๆ ระบุ"
                                            pInputTextarea></textarea>


                                    </div>
                                </div>



                            </ng-template>
                        </p-splitter>


                    </div>
                    <div class="card">
                        <div class="flex flex-col mb-4 content-center">

                            <span class="text-bold pl-4 pt-1 mr-2 w-32">การวินิจฉัยโรค</span>
                            <textarea rows="5" cols="30" placeholder="อื่นๆ ระบุ" pInputTextarea
                                [(ngModel)]="diagnosis"></textarea>

                        </div>

                        <div class="flex flex-col mb-4 content-center">
                            <span class="text-bold pl-4 pt-1 mr-2 w-32">แผนการรักษา</span>
                            <textarea rows="5" cols="30" placeholder="อื่นๆ ระบุ" pInputTextarea
                                [(ngModel)]="plan_of_treatment"></textarea>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="flex flex-wrap gap-2 mt-4 justify-content-center">
        <button pButton pRipple type="button" class="tw-w-32" label="บันทึก" (click)="saveAdmissionNote()"></button>

        <button pButton pRipple type="button" label="ยกเลิก" class="p-button-danger tw-w-32"
            (click)="resetForm()"></button>
    </div>

</div>